<div class="left_col col-sm-6">
    <div class="left_title col-sm-6">SI</div>

     <% dataSx.forEach(function(dataSx) { %>

      <div class="tweet_box col-sm-12"><div class="col-sm-3 text-center"><img src="<%= dataSx.user.profile_image_url %>" class="img-circle img-responsive" alt="img_profile"></div><div class="name_profile col-sm-8"><%=dataSx.user.name %></div><div class="data_tweet col-sm-5">__________</div><div class="user_name col-sm-4">@<%= dataSx.user.screen_name %></div><div class="text_tweet col-sm-12"><%= dataSx.text %></div></div>

    <% }); %>
</div>
