* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* overflow generic*/

.container {
    overflow: hidden;
}

.header {
    overflow: hidden;
}

.header {
    overflow: hidden;
}

.logo {
    padding-top: 40px;
    padding-bottom: 30px;
}


/* Title of the content "rif_Cost_2016" */

.header .page_title {
    padding-top: 25px;
    font-size: 2.5em;
    word-wrap: break-word;
    letter-spacing: 2px;
    font-weight: bold;
}
.header .page_sub_title{
    font-size: 1em;
    padding-bottom: 20px;
    word-wrap: break-word;
    font-weight: italic;
    letter-spacing: 1px;
}

/* Position and font-size of the bottoms */

.title {
    padding-bottom: 11px;
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}


/* Button YES style and color */

.button_y {
    background-color: rgb(99, 214, 48);
    outline: none;
    border: 0;
    color: white;
    cursor: auto;
}


/* Button YES position of the text */

.button_y p {
    padding-top: 17px;
}


/* Button NO style and color */

.button_n {
    background-color: rgb(231, 74, 81);
    outline: none;
    margin-bottom: 15px;
    border: 0;
    color: white;
    cursor: auto;
}


/* Button NO position of the text */

.button_n p {
    padding-top: 17px;
}

.yes_box {
    background-color: yellow;
    background-color: rgba(99, 214, 48, 0.4);
    padding-bottom: 15px;
}

.no_box {
    background-color: yellow;
    background-color: rgba(231, 74, 81, 0.4);
    padding-bottom: 15px;
}


/* Style of the tweet box */

.tweet_box {
    background-color: white;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 30px;
    box-shadow: 1px 1px 5px #ccc;
    border-radius: 2%;
}

.twitter_col .name_profile {
    font-size: 1.5em;
    padding-bottom: 5px;
    font-weight: bold;
}

.twitter_col .data_tweet {
    font-size: 0.9em;
    padding-bottom: 5px;
    opacity: 0.5;
}

.twitter_col .user_name {
    font-size: 0.9em;
    opacity: 0.5;
}

.twitter_col .text_tweet {
    font-size: 1.2em;
    padding-top: 10px;
    line-height: 30px;
}

.text_tweet a, .text_tweet a:visited {
    color: black;
    text-decoration: none;
}

.text_tweet a:hover {
    text-decoration: none;
}

.tweet_img img {
    display: inline-block;
}

@media screen and (max-width:991px) {
    .button_y.active, .button_n.active {
        box-shadow: 0px 0px 20px #ffffff inset;
    }
    .onMobileHide {
        display: none;
    }
    .tweet_img {
        margin-bottom: 10px;
    }
    .twitter_col .data_tweet, .twitter_col .name_profile, .twitter_col .user_name {
        text-align: center;
    }    
    .container, .twitter_col {
        padding: 0;
    }
    .tweet_box {
        padding: 5px;
    }
}



#top{
    width:100px;
        text-align:center;
        padding:5px;
        position:fixed;
        bottom:10px; 
        right:10px;
        cursor:pointer;
        display:none;
        color:#333;
        font-family:verdana;
        font-size:12px;
}


.btn-default.outline {
    color: red;
}



@media screen and (max-width:321px) {
    .header .page_title{
        font-size: 20px;
        line-height: 25px;
        padding-top: 10px;
        letter-spacing: 2px;
    }

    .header .page_sub_title{
        font-size: 9px;
        letter-spacing: 1px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;
    }

    .header {
        padding:0
    }

    .logo {
        padding-top: 19px;
        padding-bottom: 10px;
    }

    .title {
        margin-top: 10px;
    }

}

@media screen and (min-width: 322px) and (max-width:376px) {
    .header .page_title{
        font-size: 26px;
        line-height: 31px;
        padding-top: 10px;
        letter-spacing: 2px;
    }

    .header .page_sub_title{
        font-size: 11px;
        letter-spacing: 1px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;
    }

    .header {
        padding:0
    }

    .logo {
        padding-top: 19px;
        padding-bottom: 10px;
    }

    .title {
        margin-top: 10px;
    }

}









